<% layout('layouts/boilerplate') %> 

<style>
        @media (max-width: 800px) {
        .wrapper {
            flex-direction: column;
        }
    }
    .keterangan {
        width: 96%;
        background-color: #B2BABB;
    }
    hr {
        color: gray;
        border: 3px solid gray;
    }
    button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    .long {
        width: 98%;
    }
    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
        filter: invert(100%);
    }
    .carousel {
        width: 250px;
        height: 200px;
    }
    img {
        width: 200px;
        height: 200px;
    }
    .img-wrapper {
        width: 200px;
        height: 200px;
    }
    .index-wrapper {
        border: 1px solid #B2BABB;
        padding-top: 15px;
        border-radius: 10px;
        background-color: #D6EAF8;
        margin-top: 20px;
    }
    .carousel-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .add-btn {
        margin-top: 20px;
    }
    .wrapper {
        border: 1px solid #CCD1D1;
        border-radius: 10px;
        margin: 20px 0px;
        display: flex;
        padding-top: 10px;
    }
    .list-wrapper {
        display: flex;
        flex: 2;
    }
    .detail-wrapper {
        flex: 1;
    }
    .detail-data-wrapper {
        flex: 3;
    }
    .list-details {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 17px;
    }
    .harga-wrapper {
        flex: 2;
    }
    .add-flex {
        flex: 3;
    }
    .margin-right {
        margin-right: 5px;
    }
    .add-margin-bottom {
        margin-top: 102px;
    }
    .margin-bottom-text-area {
        margin-bottom: 12px;
    }
    .sizing-select {
        height: 35px;
        font-size: 15px;
    }
</style>

<div class="container index-wrapper">
    <h3>EDIT RUMAH SAKIT HEWAN</h3>
    <h4>Tambah Gambar</h4>
    <form action="/location/<%= location._id %>?_method=PUT" method="POST" class="new-form" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="image" name="image" multiple>
        </div>
        <% location.images.forEach(function(img, i) { %> 
            <div class="mb-3">
                <img src="<%= img.thumbnail %> " alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                </div>
                <label for="image-<%= i %>">Hapus</label>
            </div>
        <% }) %>     
        <div class="container wrapper">
            <div class="list-wrapper">
                <div class="detail-wrapper">
                    <p class="list-details">Nama Rumah Sakit Hewan</p>
                    <p class="list-details">Lokasi</p>
                    <p class="list-details">Deskripsi</p>
                </div>
                <div class="detail-data-wrapper">
                    <div class="list-wrapper">
                        <p class="margin-right">:</p>
                        <div class="detail-wrapper">
                            <input class="long" type="text" name="title" id="title" placeholder="Nama RSH" value="<%= location.title %>">
                        </div>
                    </div>
                    <div class="list-wrapper">
                        <p class="margin-right">:</p>
                        <div class="detail-wrapper">
                            <input class="long" type="text" name="location" id="location" placeholder="Lokasi" value="<%= location.location %>">
                        </div>
                    </div>
                    <div class="list-wrapper">
                        <p class="margin-right">:</p>
                        <div class="detail-wrapper margin-bottom-text-area">
                            <textarea class="form-control" id="description" name="description" rows="4"><%= location.description %></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <button class="btn btn-success">Submit</button>
    </form>
    <br>
    <a href="/location/<%= location._id %>">back</a>
</div>
